body {
  margin: 0px;
  background-image: url(./Img/FoggyForest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
  transition-timing-function: ease-in-out;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px min(50px, calc(20vw - 80px));
}

.searchBarCon {
  display: flex;
  align-items: center;
}

.searchBarInput {
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #00000051;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: solid rgb(121, 120, 120) 3px;
  border-right: none;
  transition: 0.5s;
}

.searchBarInput:hover {
  background-color: #0000007b;
}

.searchBarBtn {
  height: 36.8px;
  width: 100px;
  font-size: 20px;
  font-weight: 700;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(102, 102, 102);
  border: solid rgb(121, 120, 120) 3px;
  color: white;
  transition: 0.5s;
}

.searchBarBtn:hover {
  background-color: #757575;
  color: rgb(198, 198, 198);
}

.searchBarBtn:active {
  transition: 0.1s;
  transition-timing-function: ease-out;
  font-size: 22px;
}

.loadingGifCon {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  transition: 1s;
  top: 0;
  left: 0;
}

.loadingGif {
  position: fixed;
  top: calc(50vh - 35px);
  left: calc(50vw - 35px);
  height: 70px;
  width: auto;
  height: 40px;
  width: 40px;
  transition: 1s;
}
